name: Tools

on:
  workflow_call:

permissions:
  issues: write

jobs:
  sync-labels:
    name: Sync labels
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - name: Sync labels
        uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
